---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import { getEntry } from "astro:content";

const about = await getEntry("about", "index");
const { Content } = await about!.render();
---

<BaseLayout
  title={about!.data.title}
  description={about!.data.description}
>
  <HeroBanner
    slot="hero"
    title={about!.data.title}
    type="page"
  />

  <div class="container">
    <div class="row">
      <div class="col-content post-container">
        <Content />
      </div>
    </div>
  </div>
</BaseLayout>
