---
import SocialIcons from "./SocialIcons.astro";

const year = new Date().getFullYear();
---

<footer class="site-footer">
  <div class="container">
    <SocialIcons />
    <p class="copyright">
      &copy; {year} &middot; Powered by <a href="https://astro.build">Astro</a>
    </p>
  </div>
</footer>
